{%- for about in collections.about -%}
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">{{ about.data.title }}</h2>
            {{about.templateContent | safe }}
        </div>
    </div>
</div>

{% endfor %}