{# <div>Ready to join?</div>
<div>Add your email below to request an invite to the We Evolve Slack channel</div>

<p>Have questions? Let us Know!</p>

<h2>How to join the We Evolve community</h2>
<div> #}
<div class="row justify-content-center">
    <div class="card mb-3 text-center" style="max-width: 540px;">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h5 class="">Ready to Join?</h5>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
{% markdown %}
  {%- include "../../content/how_to_join.md" -%}
{% endmarkdown %}
</div>